* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  height: 100%;
}
