.form {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.form > input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(159 159 159);
  padding: 8px;
}

.form > input::placeholder {
  font-size: 16px;
}

.form > button {
  padding: 10px 8px;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: #4f4f4f;
  color: #fff;
  cursor: pointer;
}
